.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-image: radial-gradient(circle at -14.09% 79.88%, #ff92f7 0, #ff8ce7 3.85%, #ff88d6 7.69%, #ff86c4 11.54%, #ff86b3 15.38%, #ff87a2 19.23%, #ff8a92 23.08%, #ff8f82 26.92%, #ff9473 30.77%, #ff9a65 34.62%, #ffa158 38.46%, #ffa84d 42.31%, #ffaf43 46.15%, #f2b53c 50%, #e3bb38 53.85%, #d4c138 57.69%, #c3c63c 61.54%, #b2ca43 65.38%, #9fce4d 69.23%, #8bd259 73.08%, #74d566 76.92%, #59d775 80.77%, #31da85 84.62%, #00db96 88.46%, #00dca8 92.31%, #00ddba 96.15%, #00decb 100%);
}

.container {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    align-items: center;
}

.left {
    width: 50%;
    height: 700px;
    background-image: url(../images/sun.jpg);
    background-size: cover;
    box-shadow: 5px 5px 5px 0зч #00000024;
    position: relative;

}

.area {
    position: relative;
    top:570px;
    left: 400px;
    width: 8ch;
    color: wheat;
    font-family: monospace;
    font-size: 35px;
    white-space: nowrap; 
    overflow: hidden; 
    border-right: 3px solid wheat;
    animation: cursor 0.70s step-end infinite, printed_text 5s steps(8);
  }
  
  @keyframes cursor {
    0% {
      border-color: wheat;
    }
  
    50% {
      border-color: transparent;
    }
  
    100% {
      border-color: wheat;
    }
  }
  
  @keyframes printed_text {
    from {
      width: 0;
    }
  }


.right {
    width: 50%;
    height: 700px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 5px 0px #00000024;
    position: relative;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
}
